*{
    padding: 0px;
    margin: 0px;
    border: 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, Courier, monospace;
}

a{
    margin: 0px 0.5rem;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

a:hover{
    color:rgb(86, 168, 239)
}

body{
    background-color: rgb(17, 34, 48);
}

header{
    display: flex;
    flex-direction: column;
    background-color: rgb(9, 2, 55);
    position: fixed;
    width: 100%;
    top: 0px;
}

nav{
    display: flex;
    justify-content: space-between;
    margin: 1.5rem;
    align-items: center;
}

/* .nav1 a{
    margin: 0px 0.5rem;
    text-decoration: none;
    color: aliceblue;
} */

.logo{
    font-size: xx-large;
}

.nav2 a{
    margin: 0px 0.5rem;
    text-decoration: none;
    color: aliceblue;
}

.nav2 a:hover {
    text-decoration: none;
    color:rgb(86, 168, 239)
}

.gratis{
    display: flex;
    justify-content: center;
    margin-top: 5.32rem;
    padding: 6rem 1rem 6rem 1rem;
    color: rgba(132, 146, 187, 0);
    background-image: url(https://acrediteounao.com/wp-content/uploads/2017/02/filmes.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
    background-size: cover;
    font-size: xxx-large;
}

.games {
    display: flex;
    justify-content: center;
    margin-top: 5.32rem;
    padding: 6rem 1rem 6rem 1rem;
    color: rgba(132, 146, 187, 0);
    background-image: url(https://static.vecteezy.com/ti/vetor-gratis/t2/13381423-joystick-de-console-de-jogos-sinais-de-botoes-de-neon-brilhantes-placa-brilhante-bandeira-leve-facil-de-editar-ilustracaoial-vetor.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
    background-size: cover;
    font-size: xxx-large;
}

.filmes{
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: repeat(8, 1fr)
}

.filme img{
    width: 8.5rem;
    margin: 0.5rem 0rem 0.5rem 1rem;
    border-radius: 0.6rem;
    border: solid black 1px;
    box-shadow:10px 5px 5px rgba(0, 0, 0, 0.326);
}

main h1{
    margin-left: 1rem;
    color: aliceblue;;
}

.categ{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 2rem;
    padding-top: 2rem;
}

footer{
    padding: 1rem;
    background-color: rgb(0 0 0 / 17%);
    color: white;
}

footer h2, a {
    color: aliceblue;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: justify;
}
  
.footer-section {
    width: 30%;
    min-width: 200px;
}
  
.footer-section h3 {
    margin-top: 0;
}
  
.footer-section ul {
    list-style-type: none;
    padding: 0;
}
  
.footer-section ul li {
    margin-bottom: 5px;
}
  
.footer-section a {
    text-decoration: none;
    color: #ecf0f1;
}
  
.footer-section a:hover {
    text-decoration: none;
    color:rgb(86, 168, 239)
}

.footer-section p {
    margin-top: 10px;
}

.foot-ul {
    margin-top: 10px;
}
  
.footer-bottom {
    text-align: start;
    margin-top: 20px;
}

.imgA{
    display: flex;
    justify-content: center;
    margin-top: 5.32rem;
    padding: 6rem 1rem 6rem 1rem;
    color: rgba(132, 146, 187, 0);
    background-image: url(https://ravel.com.br/blog/wp-content/uploads/2023/07/banner-meio-blog-2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
    background-size: cover;
    font-size: xxx-large;
}

.celulares{
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: repeat(8, 1fr)
}

.celular img{
    width: 8.5rem;
    margin: 0.5rem 0rem 0.5rem 1rem;
    border-radius: 0.6rem;
    border: solid black 1px;
    box-shadow:10px 5px 5px rgba(0, 0, 0, 0.326);
}
